* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 100%;
    display: inline-flex;
    box-sizing: border-box;
}

div {
    .conteudo {
        width: 100%;
        height: 100vh;
        position: fixed;
        background-image: linear-gradient(to right, #f6e8bf, #f9f5e8);
        transform: translate(0, -16px);

        .title {
            width: 27%;
            background-color: transparent;
            margin: 4% 15%;

            h1 {
                font-family: Arial, Helvetica, sans-serif;
            }

            img{
                transform: translate(410px, -50px);
            }
        }

        .formulario {
            width: 75%;
            height: 65vh;
            margin-left: 15%;
            transform: translate(0, -70PX);

            .nome {
                font-size: 22px;
                font-weight: bold;
            }

            .razao {
                font-size: 22px;
                font-weight: bold;
                padding-left: 30%;
            }

            .cnpj {
                font-size: 22px;
                font-weight: bold;
                padding-left: 26%;
            }

            .i-nome {
                width: 32.5%;
                height: 4vh;
                border-radius: 7px;
                border-color: gray;
                border-style: solid;
            }
            .i-nome:hover{
                background-color: #f7f5ee;
                transition: .3s;
            }

            .i-razao {
                width: 34%;
                margin-left: 2.4%;
                height: 4vh;
                border-radius: 7px;
                border-color: gray;
                border-style: solid;
            }
            .i-razao:hover{
                background-color: #f7f5ee;
                transition: .3s;
            }

            .i-cnpj {
                width: 25%;
                margin-left: 2.4%;
                height: 4vh;
                border-radius: 7px;
                border-color: gray;
                border-style: solid;
            }
            .i-cnpj:hover{
                background-color: #f7f5ee;
                transition: .3s;
            }

            .fileira2 {
                margin-top: 2%;

                .telefone {
                    font-size: 22px;
                    font-weight: bold;
                }

                .email {
                    font-size: 22px;
                    font-weight: bold;
                    padding-left: 28%;
                }

                .cep {
                    font-size: 22px;
                    font-weight: bold;
                    padding-left: 31%;
                }

                .i-telefone {
                    width: 32.5%;
                    height: 4vh;
                    border-radius: 7px;
                    border-color: gray;
                    border-style: solid;
                }
                .i-telefone:hover{
                    background-color: #f7f5ee;
                    transition: .3s;
                }

                .i-email {
                    width: 33.5%;
                    height: 4vh;
                    border-radius: 7px;
                    border-color: gray;
                    border-style: solid;
                    margin-left: 2.6%;
                }
                .i-email:hover{
                    background-color: #f7f5ee;
                    transition: .3s;
                }

                .i-cep {
                    width: 25%;
                    height: 4vh;
                    border-radius: 7px;
                    border-color: gray;
                    border-style: solid;
                    margin-left: 3%;
                }
                .i-cep:hover{
                    background-color: #f7f5ee;
                    transition: .3s;
                }
            }

            .fileira3{
                margin-top: 2%;

                .endereco{
                    font-size: 22px;
                    font-weight: bold;
                }
                .cidade{
                    font-size: 22px;
                    font-weight: bold;
                    padding-left: 27.5%;
                }
                .uf{
                    font-size: 22px;
                    font-weight: bold;
                    padding-left: 31%;
                }
                .i-endereco{
                    width: 32.5%;
                    height: 4vh;
                    border-radius: 7px;
                    border-color: gray;
                    border-style: solid;
                }
                .i-endereco:hover{
                    background-color: #f7f5ee;
                    transition: .3s;
                }

                .i-cidade{
                    width: 33%;
                    height: 4vh;
                    border-radius: 7px;
                    border-color: gray;
                    border-style: solid;
                    margin-left: 2.9%;
                }
                .i-cidade:hover{
                    background-color: #f7f5ee;
                    transition: .3s;
                }

                .i-uf{
                    width: 24.5%;
                    height: 4vh;
                    border-radius: 7px;
                    border-color: gray;
                    border-style: solid;
                    margin-left: 3.5%;
                }
                .i-uf:hover{
                    background-color: #f7f5ee;
                    transition: .3s;
                }
            }
            
            .fileira4{
                margin-top: 2%;

                .n{
                    font-size: 22px;
                    font-weight: bold;
                }
                .bairro{
                    font-size: 22px;
                    font-weight: bold;
                    margin-left: 34.5%;
                }
                .i-n{
                    width: 32.5%;
                    height: 4vh;
                    border-radius: 7px;
                    border-color: gray;
                    border-style: solid;
                }
                .i-n:hover{
                    background-color: #f7f5ee;
                    transition: .3s;
                }
                .i-bairro{
                    width: 61%;
                    height: 4vh;
                    border-radius: 7px;
                    border-color: gray;
                    border-style: solid;
                    margin-left: 3%;
                }
                .i-bairro:hover{
                    background-color: #f7f5ee;
                    transition: .3s;
                }
            }

            .fileira5{
                margin-top: 2%;

                .obs{
                    font-size: 22px;
                    font-weight: bold;
                }
                textarea{
                    width: 96.6%;
                    height: 19vh;
                    border-radius: 7px;
                    border-color: gray;
                    border-style: solid;
                }
                textarea:hover{
                    background-color: #f7f5ee;
                    transition: .3s;
                }
            }

            .submit-voltar{
                width: 125px;
                height: 10vh;
                background-color: transparent;
                transform: translate(1120px, -600px);

                input[type="submit"]{
                    width: 123px;
                    height: 4vh;
                    border-radius: 7px;
                    border-style: solid;
                    border-color: gray;
                    background-color: white;
                    font-size: 17px;
                }

                input[type="submit"]:hover{
                    background-color: #f7f5ee;
                    transition: .3s;
                }
                button{
                    width: 123px;
                    height: 4vh;
                    border-radius: 7px;
                    border-style: solid;
                    border-color: gray;
                    margin-top: 11%;
                    background-color: white;

                    a{
                        text-decoration: none;
                        color: black;
                        font-size: 17px;
                    }
                }
                button:hover{
                    background-color: #f7f5ee;
                    transition: .3s;
                }
            }
        }
    }
}