* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  width: 100%;
  display: inline-flex;
  box-sizing: border-box;
}

div .conteudo {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-image: linear-gradient(to right, #f6e8bf, #f9f5e8);
  transform: translate(0, -16px);
}
div .conteudo .title {
  width: 27%;
  background-color: transparent;
  margin: 4% 15%;
}
div .conteudo .title h1 {
  font-family: Arial, Helvetica, sans-serif;
}
div .conteudo .title img {
  transform: translate(410px, -50px);
}
div .conteudo .formulario {
  width: 75%;
  height: 65vh;
  margin-left: 15%;
  transform: translate(0, -70PX);
}
div .conteudo .formulario .nome {
  font-size: 22px;
  font-weight: bold;
}
div .conteudo .formulario .razao {
  font-size: 22px;
  font-weight: bold;
  padding-left: 30%;
}
div .conteudo .formulario .cnpj {
  font-size: 22px;
  font-weight: bold;
  padding-left: 26%;
}
div .conteudo .formulario .i-nome {
  width: 32.5%;
  height: 4vh;
  border-radius: 7px;
  border-color: gray;
  border-style: solid;
}
div .conteudo .formulario .i-nome:hover {
  background-color: #f7f5ee;
  transition: 0.3s;
}
div .conteudo .formulario .i-razao {
  width: 34%;
  margin-left: 2.4%;
  height: 4vh;
  border-radius: 7px;
  border-color: gray;
  border-style: solid;
}
div .conteudo .formulario .i-razao:hover {
  background-color: #f7f5ee;
  transition: 0.3s;
}
div .conteudo .formulario .i-cnpj {
  width: 25%;
  margin-left: 2.4%;
  height: 4vh;
  border-radius: 7px;
  border-color: gray;
  border-style: solid;
}
div .conteudo .formulario .i-cnpj:hover {
  background-color: #f7f5ee;
  transition: 0.3s;
}
div .conteudo .formulario .fileira2 {
  margin-top: 2%;
}
div .conteudo .formulario .fileira2 .telefone {
  font-size: 22px;
  font-weight: bold;
}
div .conteudo .formulario .fileira2 .email {
  font-size: 22px;
  font-weight: bold;
  padding-left: 28%;
}
div .conteudo .formulario .fileira2 .cep {
  font-size: 22px;
  font-weight: bold;
  padding-left: 31%;
}
div .conteudo .formulario .fileira2 .i-telefone {
  width: 32.5%;
  height: 4vh;
  border-radius: 7px;
  border-color: gray;
  border-style: solid;
}
div .conteudo .formulario .fileira2 .i-telefone:hover {
  background-color: #f7f5ee;
  transition: 0.3s;
}
div .conteudo .formulario .fileira2 .i-email {
  width: 33.5%;
  height: 4vh;
  border-radius: 7px;
  border-color: gray;
  border-style: solid;
  margin-left: 2.6%;
}
div .conteudo .formulario .fileira2 .i-email:hover {
  background-color: #f7f5ee;
  transition: 0.3s;
}
div .conteudo .formulario .fileira2 .i-cep {
  width: 25%;
  height: 4vh;
  border-radius: 7px;
  border-color: gray;
  border-style: solid;
  margin-left: 3%;
}
div .conteudo .formulario .fileira2 .i-cep:hover {
  background-color: #f7f5ee;
  transition: 0.3s;
}
div .conteudo .formulario .fileira3 {
  margin-top: 2%;
}
div .conteudo .formulario .fileira3 .endereco {
  font-size: 22px;
  font-weight: bold;
}
div .conteudo .formulario .fileira3 .cidade {
  font-size: 22px;
  font-weight: bold;
  padding-left: 27.5%;
}
div .conteudo .formulario .fileira3 .uf {
  font-size: 22px;
  font-weight: bold;
  padding-left: 31%;
}
div .conteudo .formulario .fileira3 .i-endereco {
  width: 32.5%;
  height: 4vh;
  border-radius: 7px;
  border-color: gray;
  border-style: solid;
}
div .conteudo .formulario .fileira3 .i-endereco:hover {
  background-color: #f7f5ee;
  transition: 0.3s;
}
div .conteudo .formulario .fileira3 .i-cidade {
  width: 33%;
  height: 4vh;
  border-radius: 7px;
  border-color: gray;
  border-style: solid;
  margin-left: 2.9%;
}
div .conteudo .formulario .fileira3 .i-cidade:hover {
  background-color: #f7f5ee;
  transition: 0.3s;
}
div .conteudo .formulario .fileira3 .i-uf {
  width: 24.5%;
  height: 4vh;
  border-radius: 7px;
  border-color: gray;
  border-style: solid;
  margin-left: 3.5%;
}
div .conteudo .formulario .fileira3 .i-uf:hover {
  background-color: #f7f5ee;
  transition: 0.3s;
}
div .conteudo .formulario .fileira4 {
  margin-top: 2%;
}
div .conteudo .formulario .fileira4 .n {
  font-size: 22px;
  font-weight: bold;
}
div .conteudo .formulario .fileira4 .bairro {
  font-size: 22px;
  font-weight: bold;
  margin-left: 34.5%;
}
div .conteudo .formulario .fileira4 .i-n {
  width: 32.5%;
  height: 4vh;
  border-radius: 7px;
  border-color: gray;
  border-style: solid;
}
div .conteudo .formulario .fileira4 .i-n:hover {
  background-color: #f7f5ee;
  transition: 0.3s;
}
div .conteudo .formulario .fileira4 .i-bairro {
  width: 61%;
  height: 4vh;
  border-radius: 7px;
  border-color: gray;
  border-style: solid;
  margin-left: 3%;
}
div .conteudo .formulario .fileira4 .i-bairro:hover {
  background-color: #f7f5ee;
  transition: 0.3s;
}
div .conteudo .formulario .fileira5 {
  margin-top: 2%;
}
div .conteudo .formulario .fileira5 .obs {
  font-size: 22px;
  font-weight: bold;
}
div .conteudo .formulario .fileira5 textarea {
  width: 96.6%;
  height: 19vh;
  border-radius: 7px;
  border-color: gray;
  border-style: solid;
}
div .conteudo .formulario .fileira5 textarea:hover {
  background-color: #f7f5ee;
  transition: 0.3s;
}
div .conteudo .formulario .submit-voltar {
  width: 125px;
  height: 10vh;
  background-color: transparent;
  transform: translate(1120px, -600px);
}
div .conteudo .formulario .submit-voltar input[type=submit] {
  width: 123px;
  height: 4vh;
  border-radius: 7px;
  border-style: solid;
  border-color: gray;
  background-color: white;
  font-size: 17px;
}
div .conteudo .formulario .submit-voltar input[type=submit]:hover {
  background-color: #f7f5ee;
  transition: 0.3s;
}
div .conteudo .formulario .submit-voltar button {
  width: 123px;
  height: 4vh;
  border-radius: 7px;
  border-style: solid;
  border-color: gray;
  margin-top: 11%;
  background-color: white;
}
div .conteudo .formulario .submit-voltar button a {
  text-decoration: none;
  color: black;
  font-size: 17px;
}
div .conteudo .formulario .submit-voltar button:hover {
  background-color: #f7f5ee;
  transition: 0.3s;
}/*# sourceMappingURL=cad_fornecedores.css.map */